body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f9f9f9;
  }

  header {
    text-align: center;
    padding: 10px;
  }  

  main {
    padding: 80px 20px 20px 20px;
    max-width: 900px;
    margin: 0 auto;
  }

  button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    background-color: #a772d2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  /* 라디오 버튼 스타일 */
  .radio {
    opacity: 0;
  }

  #continent-city {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  #continent-buttons div {
    display: flex;
    align-items: center;
  }

  #continent-buttons {
    display: flex;
    margin-bottom: 16px;
  }

  input[type=radio]:checked + label {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    background-color: #d5c6e0;
    border-radius: 10px;
    cursor: pointer;
  }

  /* 체크박스 스타일 */
  #city-checkboxes {
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;

  }
  
  .continent-view {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 30px;
  }  
  
  .continent-view input[type="checkbox"] {
    accent-color: #50bfa0;
  }
  
  .continent-view label {
    margin-right: 20px
  }

  /* 라디오 버튼 가운데 정렬 */
  #continent-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 16px;
  }

  /* 체크박스 버튼 가운데 정렬 */
  #city-checkboxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* margin-bottom: 16px; */
  }

  /* 리뷰 작성 영역 가운데 정렬 */
  #review-writte {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
  }

  input[type="text"], textarea, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: 'Noto Sans KR'
  }

  .review-item {
    background-color: white;
    /* padding: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .review-text {
    background-color: white;
    /* padding: 20px; */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  #review-form {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }